.foundry/
/android/
.DS_Store
.build/
.worktrees/
test_project/.foundry/
test_project/addons/foundrylib/
test_project/addons/FoundrySwift/
test_project/addons/FoundryKit/
addons/FoundryKit/bin/**/*.xcframework
addons/FoundryKit/bin/**/*.framework
addons/FoundryKit/bin/**/*.aar
addons/FoundryKit/bin/**/*.bundle
*.log
